impl/src/main/resources/xsd/rurpayment.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="RURPayment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paymentDate" type="xs:date"/>
                <xs:element name="sum" type="xs:long"/>
                <xs:element name="fromCnum" type="cnum"/>
                <xs:element name="toCnum" type="cnum"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="cnum">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
